.modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg path {
    stroke: #e73f5d;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0;
  }
  p {
    color: #737380;
  }
  div {
    margin-top: 50px;
    display: flex;
    gap: 10px;

    button {
      font-family: 'Roboto', sans-serif;
      border: none;
      width: 147px;
      height: 48px;
      border-radius: 8px;
      font-weight: 500;
    }
    .cancel {
      background: #dbdcdd;
      color: #737380;
    }
    .delete {
      background: #e73f5d;
      color: #fefefe;
    }
  }
}
